 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FarmEasy</title>
    <link rel="stylesheet" href="app.component.css">

 </head>
 <body>
  
<div class="bg">
    <div class="navbar">
        <ul>
        <li><a routerLink="/home">Home</a></li>
    
        <li><a routerLink="#">Buy Products</a></li>
        <li><a routerLink="/seller">Sell Products</a></li></ul>
        <div>
  
            <a class="button" routerLink="/login"><span></span>Login  |</a> 
           <a class="button" routerLink="/register"><span></span>Register</a>
           
    
           
         </div>

    </div>
   
    <div class="col-md-9">

        <div class="row">
            <div class="col-md-12">
             <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    </div>
    
 </body>
 </html>